ion-content {
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-start: 10px;

    h3 {
        font-size: 14pt;
        font-weight: 500;
        padding-left: 14px;
        margin-bottom: 5px;
        font-weight: 500;
        color: var(--ion-color-verde-claro);
    }

    ion-icon {
        position: relative;
        top: 3px;
        font-size: 19px;
        color: var(--ion-color-verde-escuro);
    }

    ion-item {
        --highlight-height: none;

        ion-input {
            font-size: 10pt;
            font-weight: 600;
            color: #737373;
        }

        ion-label {
            font-size: 10pt;
            font-weight: 600;
            color: var(--ion-color-dark);

            span {
                color: var(--ion-color-danger);
            }
        }
    }

    ion-datetime {
        font-size: 10pt;
        font-weight: 600;
        color: #737373;
    }

    ion-select {
        font-size: 10pt;
        font-weight: 600;
        color: #737373;
    }

    ion-checkbox {
        --border-radius: 50px;
        --size: 19px;
        --background-checked: #16703a;
        --border-color-checked: #16703a;
    }

    ion-button {
        font-weight: 600;
        font-size: 9pt;
        margin-top: 10px;
        --color-activated: none;
        --color: var(--ion-color-branco);
        --ripple-color: var(--ion-color-verde-escuro);
        --background: var(--ion-color-verde-escuro);
        --background-activated: var(--ion-color-verde-escuro);
    }

    .error {
        color: red;
        border-left: 4px solid red;
        margin: 4px 0px 0px 7px;
        padding-left: 5px;
        font-size: 9pt;
        font-weight: 700;
    }
}