<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Membro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm" (ngSubmit)="adicionar(addForm.value)">
    <h3>
      <ion-icon name="person"></ion-icon>
      Dados Pessoais
    </h3>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Nome</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="text" formControlName="nome"></ion-input>
          </ion-item>
          <div *ngIf="nome.invalid && (nome.touched || nome.dirty)">
            <p class="error" *ngIf="nome.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Sexo</ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsSexo" formControlName="sexo" okText="OK"
              cancelText="Cancelar">
              <ion-select-option value="M" selected="membro.sexo === 'M'">Masculino</ion-select-option>
              <ion-select-option value="F" selected="membro.sexo === 'F'">Feminino</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="sexo.invalid && (sexo.touched || sexo.dirty)">
            <p class="error" *ngIf="sexo.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Batizado?</ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsBatizado" formControlName="isbatizado" okText="OK"
              cancelText="Cancelar">
              <ion-select-option value="1">Sim</ion-select-option>
              <ion-select-option value="0">Não</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="isbatizado.invalid && (isbatizado.touched || isbatizado.dirty)">
            <p class="error" *ngIf="isbatizado.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked">Data de Bastismo</ion-label>
            <ion-datetime formControlName="data_batismo" cancelText="Cancelar" doneText="OK"
              display-format="DD MMMM YYYY" picker-format="DD MMM YYYY"
              month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
              month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
              [min]="1980">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked">Data de Nascimento</ion-label>
            <ion-datetime formControlName="data_nascimento" cancelText="Cancelar" doneText="OK"
              display-format="DD MMMM YYYY"
              month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
              month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
              [min]="1980">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Perfil</ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsPerfil" formControlName="perfil" okText="OK"
              cancelText="Cancelar">
              <ion-select-option *ngFor="let perfil of perfis" [value]="perfil.id">
                {{ perfil.nome }}
              </ion-select-option>
            </ion-select>
            <!-- Caso ion-select-option for dinâmico usar colchetes no value -->
          </ion-item>
          <div *ngIf="perfil.invalid && (perfil.touched || perfil.dirty)">
            <p class="error" *ngIf="perfil.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Tipo de Telefone</ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsTelefone" formControlName="tel_descricao" okText="OK"
              cancelText="Cancelar">
              <ion-select-option value="Celular/WhatsApp">Celular/WhatsApp</ion-select-option>
              <ion-select-option value="Fixo">Fixo</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="tel_descricao.invalid && (tel_descricao.touched || tel_descricao.dirty)">
            <p class="error" *ngIf="tel_descricao.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Telefone</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="number" formControlName="tel_numero"></ion-input>
          </ion-item>
          <div *ngIf="tel_numero.invalid && (tel_numero.touched || tel_numero.dirty)">
            <p class="error" *ngIf="tel_numero.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <p class="error" *ngIf="email.errors.email">Formato Inválido</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Senha Usuário</ion-label>
            <ion-input type="password" formControlName="senha"></ion-input>
          </ion-item>
          <div *ngIf="senha.invalid && (senha.touched || senha.dirty)">
            <p class="error" *ngIf="senha.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3>
      <ion-icon name="book"></ion-icon>
      Endereço
    </h3>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> CEP</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="number" formControlName="end_cep"></ion-input>
          </ion-item>
          <div *ngIf="end_cep.invalid && (end_cep.touched || end_cep.dirty)">
            <p class="error" *ngIf="end_cep.errors.required">Campo Obrigatório</p>
            <p class="error" *ngIf="end_cep.errors.CEPInvalido">CEP Inválido</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Bairros</ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsBairro" formControlName="end_bairro" okText="OK"
              cancelText="Cancelar">
              <ion-select-option *ngFor="let bairro of bairros" [value]="bairro.id">
                {{ bairro.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="end_bairro.invalid && (end_bairro.touched || end_bairro.dirty)">
            <p class="error" *ngIf="end_bairro.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Endereço</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="text" formControlName="end_descricao"></ion-input>
          </ion-item>
          <div *ngIf="end_descricao.invalid && (end_descricao.touched || end_descricao.dirty)">
            <p class="error" *ngIf="end_descricao.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item no-padding>
            <ion-label position="stacked"><span>*</span> Número</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="number" formControlName="end_numero"></ion-input>
          </ion-item>
          <div *ngIf="end_numero.invalid && (end_numero.touched || end_numero.dirty)">
            <p class="error" *ngIf="end_numero.errors.required">Campo Obrigatório</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item no-padding>
            <ion-label position="stacked">Complemento</ion-label>
            <ion-input clearInput="true" spellcheck="false" type="text" formControlName="end_complemento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button padding-horizontal type="submit" shape="round" expand="block" [disabled]="addForm.invalid">Adicionar
      Novo Membro
    </ion-button>
  </form>
</ion-content>