<ion-content padding>

  <img class="logo" src="../../assets/logo.png" alt="Logo">

  <h2 class="welcome">Seja Bem Vindo(a)!</h2>
  <p class="subtitle">Entre com a sua conta para continuar</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item no-padding>
      <ion-label color="branco" position="stacked">E-mail</ion-label>
      <ion-input clearInput="true" spellcheck="false" type="email" formControlName="email">
        <ion-icon color="branco" name="mail" padding-end></ion-icon>
      </ion-input>
    </ion-item>
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <p class="error" *ngIf="email.errors.required">Campo Obrigatório</p>
      <p class="error" *ngIf="email.errors.email">Formato Inválido</p>
    </div>

    <ion-item no-padding>
      <ion-label color="branco" position="stacked">Senha</ion-label>
      <ion-input clearInput="true" spellcheck="false" type="password" formControlName="senha">
        <ion-icon color="branco" name="finger-print" padding-end></ion-icon>
      </ion-input>
    </ion-item>
    <div *ngIf="senha.invalid && (senha.touched || senha.dirty)">
      <p class="error" *ngIf="senha.errors.required">Campo Obrigatório</p>
    </div>

    <!-- <p class="redefinir-senha">Esqueceu sua senha?</p> -->

    <ion-button type="submit" shape="round" expand="block" [disabled]="loginForm.invalid">
      <ion-icon name="log-in"></ion-icon>
      Entrar
    </ion-button>
  </form>

  <a target="_self" href="http://redecel.com/">Quero criar uma conta</a>

</ion-content>