ion-content {
    --background: var(--ion-color-verde-escuro);

    .logo {
        width: 85%;
        display: block;
        margin: 80px auto 0px auto;
    }

    .welcome {
        text-align: center;
        font-weight: 700;
        font-size: 21pt;
        color: var(--ion-color-branco);
        font-family: 'Times New Roman', Times, serif;
    }

    .subtitle {
        text-align: center;
        font-weight: 500;
        font-size: 11pt;
        color: var(--ion-color-branco);
    }

    form {
        margin-top: 23px;
    }

    .redefinir-senha {
        text-align: right;
        font-size: 10pt;
        font-weight: 600;
        margin-bottom: 0px;
        color: var(--ion-color-branco);
    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 20px 0px 0px 0px;
        font-weight: 600;
        color: var(--ion-color-branco);
    }

    .error {
        color: red;
        border-left: 4px solid red;
        margin: 4px 0px 0px 7px;
        padding-left: 5px;
        font-size: 9pt;
        font-weight: 700;
    }

    ion-item {
        font-weight: 500;
        --background: transparent;
        --highlight-height: none;
        --border-color: var(--ion-color-branco);
    }

    ion-input {
        --color: var(--ion-color-branco);
    }

    ion-button {
        font-weight: 600;
        margin-top: 35px;
        --padding-start: 80px;
        --padding-end: 80px;
        --border-radius: 50px;
        --ripple-color: var(--ion-color-verde-claro);
        --color: var(--ion-color-verde-escuro);
        --color-activated: var(--ion-color-verde-claro);
        --background: var(--ion-color-branco);
        --background-activated: var(--ion-color-branco);

        ion-icon {
            font-size: 16pt;
            margin-right: 2px;
        }
    }
}