<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="celulas">
      <ion-icon name="book"></ion-icon>
      <ion-label>Células</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>