ion-content {

    ion-item {
        --highlight-height: none;

        ion-input {
            font-size: 10pt;
            font-weight: 600;
            color: #737373;
        }

        ion-label {
            font-size: 10pt;
            font-weight: 600;
            color: var(--ion-color-dark);

            span {
                color: var(--ion-color-danger);
            }
        }
    }

    ion-datetime {
        font-size: 10pt;
        font-weight: 600;
        color: #737373;
    }

    ion-select {
        font-size: 10pt;
        font-weight: 600;
        color: #737373;
    }

    ion-button {
        font-weight: 600;
        font-size: 9pt;
        --color-activated: none;
        --color: var(--ion-color-branco);
        --ripple-color: var(--ion-color-verde-escuro);
        --background: var(--ion-color-verde-escuro);
        --background-activated: var(--ion-color-verde-escuro);
    }

    .error {
        color: red;
        border-left: 4px solid red;
        margin: 4px 0px 0px 7px;
        padding-left: 5px;
        font-size: 9pt;
        font-weight: 700;
    }
}