<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Membro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editForm" (ngSubmit)="salvar(editForm.value)">
    <ion-item no-padding>
      <ion-label position="stacked"><span>*</span> Nome</ion-label>
      <ion-input clearInput="true" spellcheck="false" type="text" formControlName="nome" [value]="editForm.get('nome').value | titlecase"></ion-input>
    </ion-item>
    <div *ngIf="nome.invalid && (nome.touched || nome.dirty)">
      <p class="error" *ngIf="nome.errors.required">Campo Obrigatório</p>
    </div>

    <ion-item no-padding>
      <ion-label position="stacked">Email</ion-label>
      <ion-input clearInput="true" spellcheck="false" type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <p class="error" *ngIf="email.errors.email">Formato Inválido</p>
    </div>

    <ion-item no-padding>
      <ion-label position="stacked"><span>*</span> Perfil</ion-label>
      <ion-select [interfaceOptions]="customAlertOptionsPerfil" formControlName="perfil" okText="OK" cancelText="Cancelar">
        <ion-select-option *ngFor="let perfil of perfis" [value]="perfil.id" selected="perfil.id === '183'">
          {{ perfil.nome }}
        </ion-select-option>
      </ion-select>
      <!-- Caso ion-select-option for dinâmico usar colchetes no value -->
    </ion-item>
    <div *ngIf="perfil.invalid && (perfil.touched || perfil.dirty)">
      <p class="error" *ngIf="perfil.errors.required">Campo Obrigatório</p>
    </div>

    <ion-item no-padding>
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-datetime formControlName="data_nascimento" cancelText="Cancelar" doneText="OK" display-format="DD MMMM YYYY"
        month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
        month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        [min]="1980">
      </ion-datetime>
    </ion-item>

    <ion-item no-padding>
      <ion-label position="stacked"><span>*</span> Sexo</ion-label>
      <ion-select [interfaceOptions]="customAlertOptionsSexo" formControlName="sexo" okText="OK" cancelText="Cancelar">
        <ion-select-option value="M" selected="membro.sexo === 'M'">Masculino</ion-select-option>
        <ion-select-option value="F" selected="membro.sexo === 'F'">Feminino</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="sexo.invalid && (sexo.touched || sexo.dirty)">
      <p class="error" *ngIf="sexo.errors.required">Campo Obrigatório</p>
    </div>

    <ion-item no-padding>
      <ion-label position="stacked"><span>*</span> Batizado?</ion-label>
      <ion-select [interfaceOptions]="customAlertOptionsBatizado" formControlName="isbatizado" okText="OK" cancelText="Cancelar">
        <ion-select-option value="1" selected="membro.isbatizado === 1">Sim</ion-select-option>
        <ion-select-option value="0" selected="membro.isbatizado === 0">Não</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="isbatizado.invalid && (isbatizado.touched || isbatizado.dirty)">
      <p class="error" *ngIf="isbatizado.errors.required">Campo Obrigatório</p>
    </div>

    <ion-item no-padding [hidden]="editForm.value.isbatizado === '0'">
      <ion-label position="stacked">Data de Bastismo</ion-label>
      <ion-datetime formControlName="data_batismo" cancelText="Cancelar" doneText="OK" display-format="DD MMMM YYYY"
        picker-format="DD MMM YYYY" month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
        month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        [min]="1980">
      </ion-datetime>
    </ion-item>

    <ion-button padding-vertical type="submit" shape="round" expand="block" [disabled]="editForm.invalid">Salvar
    </ion-button>
  </form>
</ion-content>