<ion-app>
  <ion-split-pane>
    <ion-menu class="my-custom-menu">
      <ion-header>
        <ion-toolbar color="verde-escuro" text-center>
          <img src="../assets/logo.png" alt="logo-redecell">
          <p>Edificando o Reino com amor e compromisso</p>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active-link">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label no-margin>{{p.title}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label no-margin (click)="logout()">Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>