ion-content {
    ion-card {
        border-top: 2px solid var(--ion-color-danger);
    }

    ion-card-header {
        padding: 0px;

        ion-card-subtitle {
            font-size: 11pt;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 800;
            color: var(--ion-color-dark);
        }

        ion-chip {
            height: 28px;
        }
    }

    div {
        margin-top: 25%;

        ion-icon {
            font-size: 80px;
        }

        p {
            margin: 0px;
            font-size: 14pt;
            font-weight: 600
        }
    }
}