<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pendente of pendentes" [hidden]="pendentes === null ">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <ion-card-subtitle>
            <ion-icon name="send"></ion-icon>
            {{ pendente.nome |uppercase }}
          </ion-card-subtitle>
        </ion-col>

        <ion-col size="4">
          <ion-chip outline="true" color="danger" class="ion-float-right"
            (click)="enviarRelatorioPage(pendente.idrelatorio)">
            <ion-icon name="calendar"></ion-icon>
            <ion-label color="danger">{{ pendente.data_prevista }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <div *ngIf="pendentes === null" text-center>
    <ion-icon name="happy"></ion-icon>
    <p>Sem Relatórios Pendentes!</p>
  </div>
</ion-content>