// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700');

// Menu lateral
.my-custom-menu {
    ion-toolbar {
        img {
            margin-top: 25px;
            width: 65%;
        }

        p {
            font-family: Verdana, sans-serif;
            margin: 5px 0px 15px 0px;
            font-size: 10.5pt;
            font-weight: 600;
            color: var(--ion-color-branco);
        }
    }

    ion-list {
        padding: 0px;
    }

    ion-icon {
        color: var(--ion-color-dark);
    }
}

.cssAlert {
    --height: 150px;

    // .alert-sub-title.sc-ion-alert-md,
    // .alert-title.sc-ion-alert-md {
    //     font-weight: 600;
    // }

    // .alert-input-group.sc-ion-alert-md,
    // .alert-message.sc-ion-alert-md {
    //     color: var(--ion-color-verde-claro);
    // }

    .alert-button.sc-ion-alert-md {
        color: var(--ion-color-verde-claro);
    }
}

.cssLoading {
    --spinner-color: var(--ion-color-verde-escuro);
}

// CSS Raiz
:root {
    --ion-font-family: 'Montserrat', sans-serif;
    --ion-toolbar-background: var(--ion-color-verde-escuro);
    --ion-toolbar-color: var(--ion-color-branco);

    ion-menu-button {
        --color: var(--ion-color-branco) !important;
    }

    ion-back-button {
        color: var(--ion-color-branco);
    }
}

// IOS CSS
.ios {
    ion-card {
        margin: 12px;
    }
}

.md {
    ion-back-button {

        // Não mostrar 'voltar' no Android
        span {
            display: none;
        }
    }
}