<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let celula of detalhesCelula">
      <ion-card-header>
        <ion-row class=" ion-align-items-center">
          <ion-col size="7">
            <ion-card-subtitle>
              <ion-icon name="person"></ion-icon>
              {{ celula.lider | titlecase }}
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="5">
            <ion-chip class="ion-float-right" outline="true" color="success" (click)="getDetalhesCelula(celula)">
              <ion-icon name="eye" color="success"></ion-icon>
              <ion-label color="success">Detalhes</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <p *ngIf="celula.membros != null">Membros: {{ celula.membros.length }}</p>

            <ion-chip *ngIf="celula.pendentes !== null" class="ion-float-left" outline="true" color="danger">
              <ion-label color="danger">Possui relatórios pendentes!</ion-label>
            </ion-chip>

            <ion-chip *ngIf="celula.pendentes === null" class="ion-float-left" outline="true" color="success">
              <ion-label color="success">Sem relatórios pendentes!</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>