ion-toolbar {
    p {
        font-size: 11pt;
        font-weight: 600;
    }
}

ion-content {
    ion-card {
        border-top: 2.5px solid var(--ion-color-verde-escuro);

        ion-card-header {
            padding: 5px 5px 0px 5px;

            ion-card-subtitle {
                margin: 0px;
                font-size: 12pt;
                font-weight: 600;
                color: var(--ion-color-dark);
                font-family: 'Times New Roman', Times, serif;

                ion-icon {
                    position: relative;
                    top: 2px;
                    border: 1px solid var(--ion-color-dark);
                    border-radius: 50px;
                    padding: 1px;
                    font-size: 8pt;
                }
            }

            ion-chip {
                height: 27px;
            }
        }

        ion-card-content {
            padding: 0px 5px 2px 5px;

            p {
                font-size: 9pt;
                margin-left: 4px;
                font-weight: 600;
                color: var(--ion-color-dark);
            }

            ion-chip {
                height: 20px;
                pointer-events: none;

                ion-label {
                    font-size: 8pt;
                    font-weight: 800;

                }
            }
        }
    }
}