ion-content {
    .aviso {
        color: var(--ion-color-medium);
        font-weight: 600;
        text-align: center;
        font-size: 10pt;
    }


    ion-card {
        border-top: 2.5px solid var(--ion-color-verde-escuro);
    }

    ion-card-header {
        padding: 12px 0px 5px 8px;

        ion-card-subtitle {
            font-size: 11pt;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 800;
            color: var(--ion-color-dark);
        }

        ion-chip {
            height: 27px;
        }
    }

    ion-card-content {
        padding: 15px 0px 0px 12px;

        p {
            font-size: 11pt;
            font-weight: 600;
        }

        .presente {
            font-size: 9pt;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
            background-color: #06bb6d1f;
            border: 1px solid var(--ion-color-verde-escuro);
            color: var(--ion-color-verde-escuro)
        }

        .faltou {
            font-size: 9pt;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
            background-color: #f041411c;
            border: 1px solid var(--ion-color-danger);
            color: var(--ion-color-danger);
        }

        hr {
            border: 1px solid var(--ion-color-verde-claro);
            max-width: 140px;
            margin-top: 9px;
            height: 0px;
        }
    }


    div {
        margin-top: 25%;

        ion-icon {
            font-size: 80px;
        }

        p {
            margin: 0px;
            font-size: 14pt;
            font-weight: 600
        }
    }
}