<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p [hidden]="historicos === null" class="aviso">Toque na data para editar o evento</p>

  <ion-list>
    <ion-card *ngFor="let historico of historicos">
      <ion-card-header>
        <ion-row class="ion-align-items-center">
          <ion-col size="7">
            <ion-card-subtitle>{{ historico.nome | uppercase }}</ion-card-subtitle>
          </ion-col>

          <ion-col size="5">
            <ion-chip outline="true" color="success" class="ion-float-right" (click)="editarRelatorio(historico)">
              <ion-icon name="calendar"></ion-icon>
              <ion-label color="success">{{ historico.data_prevista }}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center" *ngFor="let pessoa of historico.pessoas"
          [hidden]="pessoa.nome === null">
          <ion-col size="9">
            <p>{{ pessoa.nome | titlecase }}</p>
          </ion-col>

          <ion-col size="3">
            <p *ngIf="pessoa.presente === '1'" class="presente">Presente</p>
            <p *ngIf="pessoa.presente === '0'" class="faltou">Faltou</p>
          </ion-col>
        </ion-row>

        <hr>

        <ion-row *ngFor="let indicadores of historico.pessoas; let i = index" [hidden]="i != 0">
          <ion-col *ngIf="indicadores.quantidadevisitantes">
            <p>Visitantes: {{ indicadores.quantidadevisitantes }}</p>
          </ion-col>
          <ion-col *ngIf="indicadores.quantidadefrequentadores">
            <p>Frequentadores: {{ indicadores.quantidadefrequentadores }}</p>
          </ion-col>
          <ion-col *ngIf="indicadores.valoroferta">
            <p>Oferta: {{ indicadores.valoroferta | currency: 'BRL': 'symbol-narrow'}}</p>
          </ion-col>
          <ion-col *ngIf="indicadores.quantidadepessoasparaencontro">
            <p>Encontro: {{ indicadores.quantidadepessoasparaencontro }}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div [hidden]="historicos !== null" text-center>
    <ion-icon name="sad"></ion-icon>
    <p>Sem Históricos Registrados!</p>
  </div>
</ion-content>