<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button [hidden]="celulas.length !== 1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="lider-title">{{ lider | titlecase }}</h4>
  <hr>

  <ion-list *ngIf="detalhesMembros.length >= 1">
    <ion-card *ngFor="let detalhes of detalhesMembros">
      <ion-card-header>
        <ion-row>
          <ion-col size="9">
            <ion-card-subtitle>
              <ion-icon name="contact"></ion-icon>
              {{ detalhes.nome | titlecase}}
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-icon name="create" class="editar" (click)="editarMembroPage(detalhes.id)"></ion-icon>
            <ion-icon name="trash" class="excluir" (click)="apagarMembro(detalhes.id)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <p *ngIf="detalhes.perfil_nome">Perfil: {{ detalhes.perfil_nome }}</p>
            <p *ngIf="detalhes.aniversario">Aniversário: {{ detalhes.aniversario | date: 'd MMMM' }}</p>
            <p *ngIf="detalhes.data_nascimento">Nascimento: {{ detalhes.data_nascimento | date: 'shortDate' }}
            </p>
            <p *ngIf="detalhes.data_batismo">Batismo: {{ detalhes.data_batismo | date: 'shortDate' }}
          </ion-col>

          <ion-col size="4">
            <ion-chip outline="true" color="danger" *ngIf="detalhes.isbatizado === '0'">
              <ion-label color="danger">Não Batizado</ion-label>
            </ion-chip>

            <ion-chip outline="true" color="success" *ngIf="detalhes.isbatizado === '1'">
              <ion-label color="success">Batizado</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div padding>
      <ion-button shape="round" expand="block" size="small" (click)="historicoPage()">Histórico</ion-button>
      <ion-button shape="round" expand="block" size="small" (click)="relatorioPage()">Enviar Relatório</ion-button>
      <ion-button shape="round" expand="block" size="small" (click)="addMembroPage()">Adicionar Novo Membro</ion-button>
    </div>
  </ion-list>
</ion-content>