ion-content {
    .lider-title {
        margin: 20px auto 0px auto;
        font-weight: 700;
        font-size: 13pt;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    hr {
        border: 1px solid var(--ion-color-verde-claro);
        max-width: 100px;
        height: 0px;
        margin-top: 1.5px;
        margin-bottom: 15px;
    }

    ion-card {
        border-start-end-radius: 0;
        border-start-start-radius: 0;
        border-top: 2.5px solid var(--ion-color-verde-escuro);

        ion-card-header {
            padding: 2px 5px 5px 5px;

            ion-card-subtitle {
                margin: 0px;
                font-size: 12pt;
                font-weight: 700;
                color: var(--ion-color-dark);
                font-family: 'Times New Roman', Times, serif;

                ion-icon {
                    position: relative;
                    top: 4px;
                    padding: 1px;
                    font-size: 13pt;
                }
            }

            .excluir {
                font-size: 28px;
                color: var(--ion-color-danger);
            }

            .editar {
                font-size: 28px;
                color: black;
                margin-right: 12px;
            }
        }

        ion-card-content {
            p {
                font-size: 9pt;
                font-weight: 600;
                color: var(--ion-color-dark);
            }

            ion-chip {
                height: 24px;
                pointer-events: none;

                ion-label {
                    text-align: center;
                    font-size: 8pt;
                    font-weight: 600;

                }
            }
        }
    }

    ion-button {
        font-weight: 600;
        font-size: 9pt;
        --color-activated: none;
        --color: var(--ion-color-branco);
        --ripple-color: var(--ion-color-verde-escuro);
        --background: var(--ion-color-verde-escuro);
        --background-activated: var(--ion-color-verde-escuro);
    }
}