<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="7">
          <ion-card-subtitle>{{ relatorio.nome | uppercase }}</ion-card-subtitle>
        </ion-col>

        <ion-col size="5">
          <ion-chip outline="true" color="success" class="ion-float-right">
            <ion-icon name="calendar"></ion-icon>
            <ion-label color="success">{{ relatorio.data_prevista }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let membro of membros" [hidden]="membro.nome === null">
        <ion-col size="10">
          <p>{{ membro.nome | titlecase }}</p>
        </ion-col>
        <ion-col size="2" text-center>
          <ion-checkbox [(ngModel)]="membro.valor" [checked]="membro.valor"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <hr>

    <ion-item lines="none" *ngIf="relatorio.salvafonovisita === '1'">
      <ion-label>salvafonovisita: </ion-label>
      <ion-input type="number" [(ngModel)]="fonovisitas"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="relatorio.salvafrequentadoresnumerico === '1'">
      <ion-label>Frequentadores: </ion-label>
      <ion-input type="number" [(ngModel)]="frequentadores"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="relatorio.salvaoferta === '1'">
      <ion-label>Oferta: </ion-label>
      <ion-input type="number" [(ngModel)]="oferta"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="relatorio.salvapessoasparaencontro === '1'">
      <ion-label>Pessoas P/ Encontro: </ion-label>
      <ion-input type="number" [(ngModel)]="encontro"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="relatorio.salvavisitanumerico === '1'">
      <ion-label>Visitantes: </ion-label>
      <ion-input type="number" [(ngModel)]="visitantes"></ion-input>
    </ion-item>
  </ion-card>

  <div padding>
    <ion-button shape="round" expand="block" (click)="salvarRelatorio()">Salvar Evento</ion-button>
  </div>
</ion-content>