ion-content {
    ion-card {
        border-top: 2.5px solid var(--ion-color-verde-escuro);

        ion-input {
            font-size: 9pt;
            font-weight: 600;
            --padding-top: 3px;
            --padding-bottom: 3px;
        }

        hr {
            border: 1px solid var(--ion-color-verde-claro);
            max-width: 110px;
            margin-top: 9px;
            height: 0px;
        }
    }

    ion-card-header {
        padding: 13px 0px 5px 8px;

        ion-card-subtitle {
            font-size: 11pt;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 800;
            color: var(--ion-color-dark);
        }

        ion-chip {
            height: 28px;
            pointer-events: none;
        }
    }

    ion-card-content {
        padding: 15px 0px 0px 12px;

        p {
            padding-top: 4px;
            font-size: 11pt;
            font-weight: 600;
        }

        ion-checkbox {
            --border-radius: 50px;
            --size: 27px;
            --background-checked: #16703a;
            --border-color-checked: #16703a;
        }
    }

    ion-button {
        font-weight: 600;
        font-size: 9pt;
        --color-activated: none;
        --color: var(--ion-color-branco);
        --ripple-color: var(--ion-color-verde-escuro);
        --background: var(--ion-color-verde-escuro);
        --background-activated: var(--ion-color-verde-escuro);
    }
}